/*
====================
*EXTRA SKILLS
====================
*/

.extraSkills {
  margin-top: 2rem;
}

.extraSkill-item img {
  min-width: 20%;
}

@media only screen and (min-width: 1440px) {
  .extraSkill-item {
    margin-top: 1rem;
  }
}