/*
====================
*CONTACT
====================
*/
#contact {
  padding-top: 5rem;
}

#contact h3 {
  color: var(--black-color);
}



.contact input[type="text"], input[type="email"], textarea {
  background-color: #1e242c;
  color: var(--white-color);
}

.contact h2 {
  color: var(--white-color);
}


.contact p, .footer p {
  display: flex;
  justify-content: center;
}

.input-field {
  color: var(--white-color);
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  background: transparent;
  border: 1px solid var(--grey-color);
  border-radius: 14px;
}

.contact a {
  color: var(--white-color);
}

.contact-form>* {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

#contact-form-loader {
  display: none;
}

.submit-btn {
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: var(--first-color);
  border: 0;
  outline: none;
  border-radius: 30px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.submit-btn:hover {
  color: var(--white-color);
}

@media only screen and (min-width: 700px) {
  .contact-form {
    margin: 0 auto;
    padding: 1rem;
    max-width: 70%;
  }
}