<section id="contact" class="contact">
  <div class="reveal">
    <h2>CONTACT</h2>
    <div class="title-bar"></div>
    <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#editContactModal"><span class="iconify"
        data-icon="mdi:pencil"></span></span>
    <p>Now that you know about me, let me know if you are interested to work with me.</p>
    <p>Email: {{contactData.email}}</p>
    <div class="social-network d-flex align-items-center row justify-content-between">
      <div class="d-flex justify-content-evenly align-items-center">
        <a [href]="contactData.linkedIn" target="_blank"><span class="iconify" data-icon="mdi:linkedin"></span></a>
        <a [href]="'mailto:'+contactData.email" target="_blank"><span class="iconify" data-icon="mdi:email"></span></a>
        <a [href]="contactData.github" target="_blank"><span class="iconify" data-icon="mdi:github"></span></a>
      </div>
    </div>
    <br>
    <p>Have a message?</p>
    <form class="contact-form box-shadow-1 animated pop-in">
      <input type="text" name="name" placeholder="Name" title="Only accepts letters and blank spaces"
        pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" required>
      <input type="email" name="email" placeholder="Enter email" title="Incorrect email"
        pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" required>
      <textarea name="message" col="50" rows="10" placeholder="Your message" required></textarea>
      <div class="contact-form-loader text-center" id="contact-form-loader">
        <img src="assets/images/icons/loader.svg" alt="Sending...">
      </div>
      <input class="submit-btn" type="submit">
    </form>
  </div>
</section>

<!--Contact Modal-->
<article class="modal fade" id="editContactModal" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content section-info">
      <div class="modal-header">
        <h5 class="modal-title">Contact Info</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <form action="" method="GET" class="form">
        <div class="modal-body">
          <div class="m-3">
            <label for="newLinkedIn" class="form-label">Link to LinkedIn:</label>
            <input id="newLinkedIn" type="text" class="form-control">
          </div>
          <div class="m-3">
            <label for="newMail" class="form-label">Link to Mail:</label>
            <input id="newMail" type="text" class="form-control">
          </div>
          <div class="m-3">
            <label for="newGitHub" class="form-label">Link to GitHub:</label>
            <input id="newGitHub" type="text" class="form-control">
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-outline-success">Accept</button>
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</article>
<!--Comment send in form Modal -->
<article id="thanks" class="modal">
  <div class="modal-content">
    <article class="contact-form-response">
      <h3>Thanks for the comment!<img src="assets/images/icons/thumbs-up.svg" alt="thumbs up" class="px-2"></h3>
    </article>
  </div>
</article>