<section id="skillset" class="skillset">
  <div class="reveal">
    <h2>SKILLSET</h2>
    <div class="title-bar"></div>
    <div class="row">
      <div class="skill-item skill-item1 col-12 col-sm-6">
        <h3>Skills</h3>
        <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#skillPlus"><span class="iconify"
            data-icon="mdi:plus"></span></span>
        <div *ngFor="let skillItem of skillsData">
          <div>
            <b>{{skillItem.name}}</b>
            <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
                data-icon="mdi:trash"></span></span>
            <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#skillEdit"><span class="iconify"
                data-icon="mdi:pencil"></span></span>
          </div>
          <div class="progresss">
            <div class="progresss-bar" data-progress="75">
              <span class="{{skillItem.lvl}}">{{skillItem.lvl}}%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-item col-12 col-sm-6">
        <div>
          <h3>Languages</h3>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#skillPlus"><span class="iconify"
              data-icon="mdi:plus"></span></span>
          <div *ngFor="let langItem of languagesData">
            <div>
              <b>{{langItem.name}}</b>
              <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
                  data-icon="mdi:trash"></span></span>
              <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#skillEdit"><span class="iconify"
                  data-icon="mdi:pencil"></span></span>
            </div>
            <div class="progresss">
              <div class="progresss-bar" data-progress="70">
                <span class="{{langItem.lvl}}">{{langItem.lvl}}%</span>
              </div>
            </div>
          </div>
        </div>
        <app-extra-skills></app-extra-skills>
      </div>
    </div>
  </div>
</section>