<section id="skillset" class="skillset">
  <div class="reveal">
    <h2>SKILLSET</h2>
    <div class="title-bar"></div>
    <div class="row">
      <div class="skill-item skill-item1 col-12 col-sm-6">
        <h3>Skills</h3>
        <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#skillPlus"><span class="iconify"
            data-icon="mdi:plus"></span></span>
        <div>
          <b>Java</b>
          <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
              data-icon="mdi:trash"></span></span>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#skillEdit"><span class="iconify"
              data-icon="mdi:pencil"></span></span>
        </div>
        <div class="progresss">
          <div class="progresss-bar" data-progress="75">
            <span>75%</span>
          </div>
        </div>
        <div>
          <b>PHP</b>
          <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
              data-icon="mdi:trash"></span></span>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#skillEdit"><span class="iconify"
              data-icon="mdi:pencil"></span></span>
        </div>
        <div class="progresss">
          <div class="progresss-bar" data-progress="70">
            <span>70%</span>
          </div>
        </div>
        <div>
          <b>MySql</b>
          <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
              data-icon="mdi:trash"></span></span>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#skillEdit"><span class="iconify"
              data-icon="mdi:pencil"></span></span>
        </div>
        <div class="progresss">
          <div class="progresss-bar" data-progress="70">
            <span>70%</span>
          </div>
        </div>
        <div>
          <b>HTML</b>
          <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
              data-icon="mdi:trash"></span></span>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#skillEdit"><span class="iconify"
              data-icon="mdi:pencil"></span></span>
        </div>
        <div class="progresss">
          <div class="progresss-bar" data-progress="80">
            <span>80%</span>
          </div>
        </div>
        <div>
          <b>CSS</b>
          <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
              data-icon="mdi:trash"></span></span>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#skillEdit"><span class="iconify"
              data-icon="mdi:pencil"></span></span>
        </div>
        <div class="progresss">
          <div class="progresss-bar" data-progress="75">
            <span>75%</span>
          </div>
        </div>
        <div>
          <b>JavaScript</b>
          <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
              data-icon="mdi:trash"></span></span>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#skillEdit"><span class="iconify"
              data-icon="mdi:pencil"></span></span>
        </div>
        <div class="progresss">
          <div class="progresss-bar" data-progress="65">
            <span>65%</span>
          </div>
        </div>
        <div>
          <b>TypeScript</b>
          <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
              data-icon="mdi:trash"></span></span>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#skillEdit"><span class="iconify"
              data-icon="mdi:pencil"></span></span>
        </div>
        <div class="progresss">
          <div class="progresss-bar" data-progress="60">
            <span>60%</span>
          </div>
        </div>
        <div>
          <b>Angular</b>
          <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
              data-icon="mdi:trash"></span></span>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#skillEdit"><span class="iconify"
              data-icon="mdi:pencil"></span></span>
        </div>
        <div class="progresss">
          <div class="progresss-bar" data-progress="55">
            <span>55%</span>
          </div>
        </div>
        <div>
          <b>SpringBoot</b>
          <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
              data-icon="mdi:trash"></span></span>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#skillEdit"><span class="iconify"
              data-icon="mdi:pencil"></span></span>
        </div>
        <div class="progresss">
          <div class="progresss-bar" data-progress="55">
            <span>55%</span>
          </div>
        </div>
      </div>
      <div class="skill-item col-12 col-sm-6">
        <div>
          <h3>Languages</h3>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#skillPlus"><span class="iconify"
              data-icon="mdi:plus"></span></span>
          <div>
            <b>English</b>
            <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
                data-icon="mdi:trash"></span></span>
            <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#skillEdit"><span class="iconify"
                data-icon="mdi:pencil"></span></span>
          </div>
          <div class="progresss">
            <div class="progresss-bar" data-progress="70">
              <span>70%</span>
            </div>
          </div>
          <div>
            <b>Spanish</b>
            <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
                data-icon="mdi:trash"></span></span>
            <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#skillEdit"><span class="iconify"
                data-icon="mdi:pencil"></span></span>
          </div>
          <div class="progresss">
            <div class="progresss-bar" data-progress="100">
              <span>100%</span>
            </div>
          </div>
        </div>
        <app-extra-skills></app-extra-skills>
      </div>
    </div>
  </div>
</section>