<section id="about" class="about">
  <div class="reveal">
    <div>
      <h2>ABOUT</h2>
      <div class="title-bar"></div>
      <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#editAboutModal"><span class="iconify"
          data-icon="mdi:pencil"></span></span>
    </div>
    <article class=" d-flex justify-content-evenly flex-wrap flex-sm-nowrap">
      <div class="about-me-text d-flex flex-column align-items-center align-items-sm-start">

        <p>I'm a developer from Tandil, Buenos Aires, Argentina.
          Passionate for programming and creating
          new and innovative software. Well-versed in
          promoting objective-oriented approaches to
          real-time software development. Analytical,
          empathic and detail-oriented. With interest in learning new technologies and meeting new
          people.</p>
      </div>
      <article class="profilePhoto d-flex flex-column align-items-center align-items-sm-start">
        <img src="assets/images/img/profilePhoto.png" alt="profile photo" class="profilePhoto" width="50%">
      </article>
    </article>
  </div>
</section>