/*
====================
*HEADER & NAV BAR
====================
*/

.bg-dark {
  background-color: var(--black-color) !important;
}

header a {
  color: #c1d0e0 !important;
}

header a:hover {
  color: var(--white-color) !important;
}

.header a:after {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -1px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.header a:hover:after {
  width: 100%;
}

header i {
  margin-right: 1rem;
}

.header .user a:after {
  content: "";
  height: 0px;
  width: 0%;
  left: 0;
  bottom: 0px;
  transition: 0s;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
}

.fs-5 {
  font-size: 2.5rem !important;
}

@media only screen and (min-width: 700px) {
  header {
    position: sticky;
    top: 0;
  }

  header i {
    margin-right: 10rem;
  }
}

@media only screen and (min-width: 1440px) {
  .collapse {
    padding-left: 30%;
  }

  .collapse li {
    padding-left: 30px;
  }
}