/*
====================
*PROJECTS
====================
*/

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
}

.img-overlay--blur {
  backdrop-filter: blur(5px);
}


.img-overlay>* {
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transition: transform 0.25s;
  -webkit-transition: transform 0.25s;
  -moz-transition: transform 0.25s;
  -ms-transition: transform 0.25s;
  -o-transition: transform 0.25s;
}

.img-overlay:hover {
  opacity: 1;
}

.img-overlay:hover>* {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

.project-links {
  display: flex;
  align-items: center;
}

.project-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;
  margin-right: 1rem;
  min-width: 43%;
}


.img-overlay a {
  height: 30%;
  max-width: 30%;
}

.project-content {
  position: relative;
}

.project-img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 16rem;
}

.project-languages {
  margin-bottom: 1rem;
}

.project-item {
  margin-bottom: 1rem;
  background-color: var(--grey-light-color);
}

.projects-text b {
  display: flex;
  color: var(--first-color);
}

.project-text {
  padding: 1rem;
}

.project-text h3 {
  font-size: 1.5rem;
}

.repositories {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--first-color);
}

.repositories p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

@media only screen and (min-width: 700px) {
  .project-item {
    margin-top: 2rem;
  }
}