/*
====================
*HOME
====================
*/
.hero-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-img-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-bottom: 10rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-img-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h2 {
  color: var(--grey-color);
}