<section id="projects" class="projects">
  <div class="reveal">
    <h2>PROJECTS</h2>
    <div class="title-bar"></div>
    <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#projectPlus"><span class="iconify"
        data-icon="mdi:plus"></span></span>
    <div class="container">
      <div class="row d-flex align-items-stretch justify-content-center align-text">
        <article *ngFor="let projectItem of projectsData" class="project-item col-12 col-md-6 col-lg-3">
          <div class="project-content">
            <img [src]="projectItem.img" alt="project image" class="project-img">
            <div class="img-overlay img-overlay--blur">
              <b>{{projectItem.year}}</b>
            </div>
          </div>
          <div class="project-text">
            <h4>{{projectItem.title}}</h4>
            <p>{{projectItem.description}}</p>
            <div class="project-links"><a *ngIf="projectItem.live" [href]="projectItem.live" target="_blank"><span
                  class="iconify live-page" data-icon="mdi:eye"></span><b>Live</b></a>
              <a [href]="projectItem.repo" target="_blank"><span class="iconify"
                  data-icon="mdi:github"></span><b>GitHub</b></a>
            </div>
            <b class="project-languages">{{projectItem.languages}}</b>
          </div>
          <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteProjectModal"><span class="iconify"
              data-icon="mdi:trash"></span></span>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#projectEdit"><span class="iconify"
              data-icon="mdi:pencil"></span></span>
        </article>
        <div class="repositories d-flex align-items-center">
          <p><a href="https://github.com/FedeBayer?tab=repositories" target="_blank"><strong>VIEW ALL
                PROJECTS</strong></a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Add Project Modal.-->
<div class="modal fade" id="projectPlus" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content section-info">
      <div class="modal-header">
        <h5 class="modal-title">Add project</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <form action="" method="GET" class="form">
        <div class="modal-body">
          <div class="m-3">
            <label for="projectTitle" class="form-label">Title:</label>
            <input id="projectTitle" type="text" class="form-control">
          </div>
          <div class="m-3">
            <label for="projectImage" class="form-label">Add image:</label>
            <input id="projectImage" type="file" class="form-control">
          </div>
          <div class="m-3">
            <label for="projectDescription">Description:</label>
            <textarea id="projectDescription" name="sectionText" cols="30" rows="3" class="form-control mt-3"
              style="resize:none;"></textarea>
          </div>
          <div class="m-3">
            <label for="projectLivePage" class="form-label">Live page link (optional):</label>
            <input id="projectLivePage" type="text" class="form-control">
          </div>
          <div class="m-3">
            <label for="projectRepo" class="form-label">Repository link:</label>
            <input id="projectRepo" type="text" class="form-control">
          </div>
          <div class="m-3">
            <label for="projectYear" class="form-label">Year:</label>
            <input id="projectYear" type="number" class="form-control" min="2022" max="3000" value="2022">
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-outline-success">Accept</button>
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--Project Item Modal-->
<div class="modal fade" id="projectEdit" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content section-info">
      <div class="modal-header">
        <h5 class="modal-title">Edit project</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <form action="" method="GET" class="form">
        <div class="modal-body">
          <div class="m-3">
            <label for="projectTitle" class="form-label">Title:</label>
            <input id="editProjectTitle" type="text" class="form-control">
          </div>
          <div class="m-3">
            <label for="editProjectImage" class="form-label">Image:</label>
            <input id="editProjectImage" type="file" class="form-control">
          </div>
          <div class="m-3">
            <label for="editProjectDescription">Description:</label>
            <textarea id="editProjectText" name="sectionText" cols="30" rows="3" class="form-control mt-3"
              style="resize:none;"></textarea>
          </div>
          <div class="m-3">
            <label for="editProjectLivePage" class="form-label">Live page link (optional):</label>
            <input id="editProjectLivePage" type="text" class="form-control">
          </div>
          <div class="m-3">
            <label for="editProjectRepo" class="form-label">Repository link:</label>
            <input id="editProjectRepo" type="text" class="form-control">
          </div>
          <div class="m-3">
            <label for="editProjectYear" class="form-label">Year:</label>
            <input id="editProjectYear" type="number" class="form-control" min="2022" max="3000" value="2022">
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-outline-success">Accept</button>
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--Delete Item Modal-->
<div class="modal fade" id="deleteProjectModal" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content section-info">
      <div class="modal-header">
        <h5 class="modal-title">Delete Project</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <form action="" method="GET" class="form">
        <div class="modal-footer justify-content-center">
          <strong class="delete-item-text">Are you sure about deleting this item?</strong>
          <div class="mt-3">
            <button type="submit" class="btn btn-outline-success">Accept</button>
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>