<section id="projects" class="projects">
  <div class="reveal">
    <h2>PROJECTS</h2>
    <div class="title-bar"></div>
    <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#projectPlus"><span class="iconify"
        data-icon="mdi:plus"></span></span>
    <div class="container">
      <div class="row d-flex align-items-stretch justify-content-center align-text">
        <article class="project-item col-12 col-md-6 col-lg-3">
          <div class="project-content">
            <img src="assets/images/img/project1.png" alt="database relations" class="project-img">
            <div class="img-overlay img-overlay--blur">
              <b>2022</b>
            </div>
          </div>
          <div class="project-text">
            <h4>Portfolio - Argentina Programa #YoProgramo</h4>
            <p>Designed in the course Full stack web development Argentina Programa</p>
            <div class="project-links"><a href="#" target="_blank"><span class="iconify live-page"
                  data-icon="mdi:eye"></span><b>Live</b></a>
              <a href="https://github.com/FedeBayer/tpeWeb2" target="_blank"><span class="iconify"
                  data-icon="mdi:github"></span><b>GitHub</b></a>
            </div>
            <b class="project-languages">JS - Bootstrap - HTML - CSS</b>
          </div>
          <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
              data-icon="mdi:trash"></span></span>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#projectEdit"><span class="iconify"
              data-icon="mdi:pencil"></span></span>
        </article>
        <article class="project-item col-12 col-md-6 col-lg-3">
          <div class="project-content">
            <img src="assets/images/img/project2.png" alt="java code" class="project-img">
            <div class="img-overlay img-overlay--blur">
              <b>2022</b>
            </div>
          </div>
          <div class="project-text">
            <h4>Algorithms/Data structures Java project</h4>
            <p>Java project includes OOP, data structures, recursion, sort, trees, graphs, backtracking and greedy.
            </p>
            <div class="project-links">
              <a href="https://github.com/FedeBayer/tpeProg2" target="_blank"><span class="iconify"
                  data-icon="mdi:github"></span><b>GitHub</b></a>
            </div>
            <b class="project-languages">Java</b>
          </div>
          <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
              data-icon="mdi:trash"></span></span>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#projectEdit"><span class="iconify"
              data-icon="mdi:pencil"></span></span>
        </article>
        <article class="project-item col-12 col-md-6 col-lg-3">
          <div class="project-content">
            <img src="assets/images/img/project3.png" alt="database relations" class="project-img">
            <div class="img-overlay img-overlay--blur">
              <b>2021</b>
            </div>
          </div>
          <div class="project-text">
            <h4>Web page with DataBase and Api Rest</h4>
            <p>Page back-end oriented, includes MVC, database, users administration and Api Rest.</p>
            <div class="project-links">
              <a href="https://github.com/FedeBayer/tpeWeb2" target="_blank"><span class="iconify"
                  data-icon="mdi:github"></span><b>GitHub</b></a>
            </div>
            <b class="project-languages">PHP - MySQL - JS</b>
          </div>
          <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
              data-icon="mdi:trash"></span></span>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#projectEdit"><span class="iconify"
              data-icon="mdi:pencil"></span></span>
        </article>
        <article class="project-item col-12 col-md-6 col-lg-3">
          <div class="project-content">
            <img src="assets/images/img/project4.png" alt="medical turns website" class="project-img">
            <div class="img-overlay img-overlay--blur">
              <b>2022</b>
            </div>
          </div>
          <div class="project-text">
            <h4>Web Page of medical Turns</h4>
            <p>Page front/back-end, includes MVC, database, Api Rest, UML, practice of SCRUM with classmates in
              University.</p>
            <div class="project-links">
              <a href="https://github.com/FedeBayer/tpeMetodologias" target="_blank"><span class="iconify"
                  data-icon="mdi:github"></span><b>GitHub</b></a>
            </div>
            <b class="project-languages">PHP - MySQL - JS</b>
          </div>
          <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
              data-icon="mdi:trash"></span></span>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#projectEdit"><span class="iconify"
              data-icon="mdi:pencil"></span></span>
        </article>
        <article class="project-item col-12 col-md-6 col-lg-3">
          <div class="project-content">
            <img src="assets/images/img/project5.png" alt="simpson website" class="project-img">
            <div class="img-overlay img-overlay--blur">
              <b>2021</b>
            </div>
          </div>
          <div class="project-text">
            <h4>Single Page Application Simpson</h4>
            <p>Front-end page, includes Responsive design, extracting elements from API and SPA.</p>
            <div class="project-links">
              <a href="https://github.com/FedeBayer/tpeWeb1" target="_blank"><span class="iconify"
                  data-icon="mdi:github"></span><b>GitHub</b></a>
            </div>
            <b class="project-languages">JS - HTML - CSS</b>
          </div>
          <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
              data-icon="mdi:trash"></span></span>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#projectEdit"><span class="iconify"
              data-icon="mdi:pencil"></span></span>
        </article>
        <article class="project-item col-12 col-md-6 col-lg-3">
          <div class="project-content">
            <img src="assets/images/img/project6.png" alt="java code" class="project-img">
            <div class="img-overlay img-overlay--blur">
              <b>2021</b>
            </div>
          </div>
          <div class="project-text">
            <h4>Object oriented Java project</h4>
            <p>Java project includes object oriented paradigm, Composite and Strategy pattern design.</p>
            <div class="project-links">
              <a href="https://github.com/FedeBayer/tpeProg2" target="_blank"><span class="iconify"
                  data-icon="mdi:github"></span><b>GitHub</b></a>
            </div>
            <b class="project-languages">Java</b>
          </div>
          <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
              data-icon="mdi:trash"></span></span>
          <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#projectEdit"><span class="iconify"
              data-icon="mdi:pencil"></span></span>
        </article>
        <div class="repositories d-flex align-items-center">
          <p><a href="https://github.com/FedeBayer?tab=repositories" target="_blank"><strong>VIEW ALL
                PROJECTS</strong></a></p>
        </div>
      </div>
    </div>
  </div>
</section>