<section id="experience" class="experience professional-log">
  <div class="reveal">
    <h2>EXPERIENCE</h2>
    <div class="title-bar"></div>
    <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#itemPlus"><span class="iconify"
        data-icon="mdi:plus"></span></span>
    <div class="row professional-log-container">
      <div class="professional-log-item col-12 col-sm-6">
        <div class="professional-log-img">
          <img src="assets/images/icons/freelance-logo.png" alt="logo unicen">
        </div>
        <div class="professional-log-text">
          <h4>Freelance Work</h4>
          <p>Development of projects (Java and Full stack webs) to improve the performance of my abilities</p>
          <div class="d-flex align-items-center">
            <div class="years-date">
              <p>2022 - At present</p>
            </div>
            <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#itemModal"><span class="iconify"
                data-icon="mdi:pencil"></span></span>
            <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
                data-icon="mdi:trash"></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>