<section id="education" class="education professional-log">
  <div class="reveal">
    <h2>EDUCATION</h2>
    <div class="title-bar"></div>
    <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#itemPlus"><span class="iconify"
        data-icon="mdi:plus"></span></span>
    <div class="row professional-log-container">
      <div class="professional-log-item col-12 col-sm-6">
        <div class="professional-log-img">
          <img src="assets/images/icons/unicen-logo.png" alt="logo unicen" class="professional-log-logo">
        </div>
        <div class="professional-log-text">
          <h4>UNICEN (Universidad Nacional del Centro de la Provincia de Buenos Aires)</h4>
          <p>University student in the faculty of Exactas in the Career TUDAI (University Technician in Development of
            Computer
            Applications)</p>
          <div class="d-flex align-items-center">
            <div class="years-date">
              <p>Mar 2021 - At present</p>
            </div>
            <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#itemModal"><span class="iconify"
                data-icon="mdi:pencil"></span></span>
            <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
                data-icon="mdi:trash"></span></span>
          </div>
        </div>
      </div>
      <div class="professional-log-item col-12 col-sm-6">
        <div class="professional-log-img">
          <img src="assets/images/icons/mumuki-logo.png" width="60%" alt="logo argentina programa"
            class="professional-log-logo">
        </div>
        <div class="professional-log-text">
          <h4>Argentina Programa - 1st Phase - Fundamentals of programming</h4>
          <p>Course about basic notions of JavaScript, Ruby, and OOP.</p>
          <div class="d-flex align-items-center">
            <div class="years-date">
              <p>Oct 2021 - Dec 2021</p>
            </div>
            <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#itemModal"><span class="iconify"
                data-icon="mdi:pencil"></span></span>
            <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
                data-icon="mdi:trash"></span></span>
          </div>
        </div>
      </div>
      <div class="professional-log-item col-12 col-sm-6">
        <div class="professional-log-img">
          <img src="assets/images/icons/arg-programa-logo.png" alt="logo argentina programa"
            class="professional-log-logo">
        </div>
        <div class="professional-log-text">
          <h4>Argentina Programa - 2nd Phase - Full stack web developer jr</h4>
          <p>Course about JavaScript, TypeScript, Java, MySQL, Angular, Spring Boot, Bootstrap. And other concepts
            like DevOps, Testing, Web
            Security, Effective
            Communication, OOP, Figma, SCRUM.</p>
          <div class="d-flex align-items-center">
            <div class="years-date">
              <p>Feb 2022 - Aug 2022</p>
            </div>
            <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#itemModal"><span class="iconify"
                data-icon="mdi:pencil"></span></span>
            <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
                data-icon="mdi:trash"></span></span>
          </div>
        </div>
      </div>
      <div class="professional-log-item col-12 col-sm-6">
        <div class="professional-log-img">
          <img src="assets/images/icons/one-logo.png" alt="logo oracle next education" class="professional-log-logo">
        </div>
        <div class="professional-log-text">
          <h4>ONE - Oracle Next Education</h4>
          <p>Course about programming, Front-end, Java, Entrepreneurship and fundamentals of the business world.</p>
          <div class="d-flex align-items-center">
            <div class="years-date">
              <p>Jul 2022 - At present</p>
            </div>
            <span class="edit-icon" data-bs-toggle="modal" data-bs-target="#itemModal"><span class="iconify"
                data-icon="mdi:pencil"></span></span>
            <span class="delete-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"><span class="iconify"
                data-icon="mdi:trash"></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>