.text-center {
  background-image: url('https://images.unsplash.com/photo-1545893835-abaa50cbe628?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2024&q=80');
  opacity: 1.5;
  height: 100%;
  width: 100%;
}


.card {
  margin-top: 60%;
  margin-bottom: 90%;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(30px);
}

.btn-sub-log {
  margin-right: 1rem;
  margin-left: 3rem;
}

.form-label {
  margin-top: 1rem;
}

@media only screen and (min-width: 1440px) {
  .card {
    margin-top: 20%;
    margin-bottom: 22%;
  }
}