@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*
====================
*GLOBAL VARIABLES
====================
*/
:root {
  --first-color: #4985a5;
  --white-color: #fff;
  --black-color: #000;
  --black-grey-color: #444649;
  --grey-color: #8491A0;
  --grey-dark-color: #252934;
  --grey-light-color: #F5F5F5;
}

* {
  box-sizing: border-box;
  margin: 0;
}

section, footer {
  overflow: hidden;
  white-space: wrap;
  word-break: break-word;
}


a {
  color: var(--first-color);
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  background-color: var(--white-color);
}

.edit-icon i, .delete-icon i {
  height: 10%;
  width: 10%;
  padding-left: 5px;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.bi-plus-square {
  margin-bottom: 0.4rem;
}

.edit-icon:hover, .delete-icon:hover {
  cursor: pointer;
  color: var(--first-color);
}

h1 {
  font-size: 5 rem;
}

h2 {
  color: var(--black-grey-color);
  font-size: 4 rem;
}

h1, h2, h3 {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 1.5 rem;
}

h4 {
  font-size: 1.25 rem;
}

html {
  scroll-behavior: smooth;
}

.intro {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #05090F;
  transition: 1;
  -webkit-transition: 1;
  -moz-transition: 1;
  -ms-transition: 1;
  -o-transition: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  -webkit-transform: translateY(150px);
  -moz-transform: translateY(150px);
  -ms-transform: translateY(150px);
  -o-transform: translateY(150px);
  opacity: 0;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}

.reveal.active {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  opacity: 1;
}

section, footer {
  padding: 2rem 2rem;
}

.title-bar {
  display: flex;
  background-color: var(--black-grey-color);
  height: 4px;
  width: 7%;
  margin-left: 46.5%;
  margin-bottom: 1rem;
  justify-content: center;
}

header, .home {
  padding: 0px 0px;
  color: var(--white-color);
}

.logo {
  width: 20%;
}

header {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
}


.professional-log .edit-icon {
  margin-left: 2rem;
}

.professional-log {
  margin-bottom: 1rem;
}

.professional-log-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.professional-log-text {
  flex-direction: column;
}

#experience, #skillset {
  background-color: var(--grey-light-color);
}

.professional-log-text h3 {
  font-size: 1.1rem;
  font-weight: bold;
  justify-content: initial;
}

.professional-log-text h4 {
  font-size: 0.9rem;
  font-weight: bold;
  font-style: italic;
}

.professional-log- img {
  width: 50%;
}

.years-date {
  color: var(--white-color);
  background-color: var(--black-color);
  text-align: center;
  padding: 0.2rem;
  border-radius: 1rem;
}

.years-date p {
  margin-top: 0;
  margin-bottom: 0;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--first-color);
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
====================
*MODALS
====================
*/
.modal button[type=submit] {
  margin-right: .5rem;
}

.modal-content {
  background-color: rgb(22, 22, 22);
  color: var(--white-color);
}

.modal-title {
  padding-left: 35%;
}

.range-bar-value {
  color: var(--white-color);
  background-color: var(--black-color);
  margin-left: 2rem;
  width: 10%;
}

.delete-item-text {
  display: flex;
  width: 100%;
  justify-content: center;
}

.modal#thanks .modal-content {
  color: var(--black-color);
  background-color: var(--white-color);
}

.modal#thanks:target {
  opacity: 1;
  pointer-events: auto;
  display: block;
}



@media only screen and (min-width: 360px) {
  .professional-log-item {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 700px) {
  .professional-log img {
    max-width: 40%;
  }

  .professional-log-logo {
    margin-bottom: 1rem;
  }

  .logo {
    width: 14%;
  }

  section, footer {
    padding: 2rem 10rem;
  }
}

@media only screen and (min-width: 1440px) {
  .professional-log-item {
    display: flex;
  }

  .professional-log-img {
    display: flex;
    min-width: 40%;
    max-width: 40%;
    height: 80%;
  }

  .logo {
    width: 7%;
  }

  section, footer {
    padding: 2rem 20rem;
  }
}